/* styles.css */

/* Table base styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
}

/* Table header styles */
th {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

/* Table data cell styles */
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

/* Zebra striping fo*
